<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>499124868129-3cf6kat3krj3sq6oure4j0i4v7c6iif5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.499124868129-3cf6kat3krj3sq6oure4j0i4v7c6iif5</string>
	<key>API_KEY</key>
	<string>AIzaSyC8xPmGob5r2f8TLmwXpRt6GMCM0lCs_I4</string>
	<key>GCM_SENDER_ID</key>
	<string>499124868129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.icloud.ituki19990702-.Instagram-Clone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-a2905</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-a2905.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:499124868129:ios:465fc3970623a1eef5ff60</string>
</dict>
</plist>